<template>
  <div>
    <p>Home page</p>
    <p>Obtener un número aleatorio desde el backend: {{ randomNumber }}</p>
    <v-btn color="success" @click="getRandom">Success</v-btn>
    <form class="" action="" method="post" @submit.prevent="guardarUsuario">
    <input type="text" name="" value="nombre" v-model="username">
    <input type="text" name="" value="email" v-model="email">
    <br>
      {{username}}
    <br>
    <input type="submit" name="" value="Enviar datos">
    </form>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      randomNumber: 0,
      username: '',
      email: '',
      fecha: '2018-07-04'
    }
  },
  methods: {
    getRandomInt (min, max) {
      min = Math.ceil(min)
      max = Math.floor(max)
      return Math.floor(Math.random() * (max - min + 1)) + min
    },

    getRandom () {
      // this.randomNumber = this.getRandomInt(1, 100)
      this.randomNumber = this.getRandomFromBackend()
    },

    getRandomFromBackend () {
      const path = `http://localhost:5000/api/random`
      axios.get(path)
        .then(response => {
          this.randomNumber = response.data.randomNumber
        })
        .catch(error => {
          console.log(error)
        })
    },

    guardarUsuario () {
      if (this.username && this.email) {
        axios.post('http://localhost:5000/user', {
          'email': this.email,
          'username': this.username,
          'fecha': this.fecha
        })
          .then(response => {
            this.randomNumber = response.data.randomNumber
          })
          .catch(error => {
            console.log(error)
          })
      } else {
        alert('Complete los campos...')
      }
    }
  },
  created () {
    this.getRandom()
  }
}
</script>
